.panda-bg1{
    background-color: #fceae8 !important;
}
.panda-btn1 {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.panda-category_img{
    width: 100px;
}